<div ng-controller="rowsColumnsCtrl as vm">
	<div class="row well">
		<div class="cos-xs-6" ng-repeat=" (key, val) in vm.colorFills">
			<h4>{{key}}</h4>
			<div class="radio" ng-repeat="color in vm.radioBoxes">
				<label>
					<input type="radio"
					       ng-model="vm.colorFills[key]"
					       value="{{color}}">{{color}}
				</label>
			</div>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Action</th>
				<th>Done</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.todos" ng-class="vm.colorFills.Rows">
				<td ng-style="{'background-color': vm.colorFills.Columns}">{{$index}}</td>
				<td>{{item.action}}</td>
				<td>{{item.complete}}</td>
			</tr>
		</tbody>
	</table>

	<pre>{{vm.todos | json}}</pre>
</div>