<!DOCTYPE html >
<html ng-app="exampleApp">
<head>
	<title>AngularJS Demo</title>
	<link rel="stylesheet"
	      href="../../lib/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet"
	      href="../../lib/bootstrap/dist/css/bootstrap-theme.css"/>
	<link rel="stylesheet"
	      href="style.css"/>
	<script src="../../lib/angular/angular.js"></script>
	<script src="directives.js"></script>
	<script src="services.js"></script>
	<script src="tableStriped/tableStriped.js"></script>
	<script src="rowsColumns/rowsColumns.js"></script>
	<script src="oddEven/oddEven.js"></script>
	<script src="tableEvents/tableEvents.js"></script>
</head>
<body ng-controller="defaultCtrl as main">
	<div class="row well">
			<label class="radio-inline">
				<input ng-model="main.fileName"
				       type="radio"
				       value="tableStriped/tableStriped.html">
				Striped Table
			</label>
			<label class="radio-inline">
				<input ng-model="main.fileName"
				       type="radio"
				       value="rowsColumns/rowsColumns.html">
				Rows / Columns
			</label>
			<label class="radio-inline">
				<input ng-model="main.fileName"
				       type="radio"
				       value="oddEven/oddEven.html">
				Odd / Even
			</label>
			<label class="radio-inline">
				<input ng-model="main.fileName"
				       type="radio"
				       value="tableEvents/tableEvents.html">
				Table Events
			</label>
	</div>
	<div class="panel">
		<h3 class="panel-header">To Do List</h3>
		<ng-include src="main.fileName" ></ng-include>
	</div>
</body>

</html>