<div class="row panel panel-default"
     ng-controller="productListCtrl"
     ng-hide="data.error">
  <!--CATEGORY LIST-->
  <div class="col-xs-3">
    <a class="btn btn-block btn-default btn-lg"
       ng-click="selectCategory()">
      Home
    </a>
    <a class="btn btn-block btn-default btn-lg"
       ng-class="getCategoryClass(item)"
       ng-click="selectCategory(item)"
       ng-repeat="item in data.products | orderBy:'category' | unique:'category' "
      >
      {{item}}
    </a>
  </div>
  <!--PRODUCT LIST-->
  <div class="col-xs-8">
    <div class="well"
         ng-class="getCategoryClass(item)"
         ng-repeat="item in data.products | filter: categoryFilterFn | range:selectedPage:pageSize ">
      <h3>
        <strong>{{item.name}}</strong>
        <span class="pull-right label label-primary">
          {{item.price | currency}}</span>
      </h3>
      <button class="btn btn0success pull-right"
              ng-click="addProductToCart(item)">
        Add to cart
      </button>
      <span class="lead">{{item.description}}</span>
    </div>

    <!--pagination-->
    <div class="pull-right btn-group">
      <a class="btn btn-default"
         ng-class="getPageClass($index +1)"
         ng-click="selectPage($index +1)"
         ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize">
        {{$index +1}}
      </a>
    </div>
  </div>
</div>
